{
  
    box-sizing:border-box;
    font-family:italic;
}


.menu {
    display: flex :1;
    width:460px;
    margin:auto;
    list-style:none;
}


.menu a{
    display:block;
    text-align:center;
    padding:15px;
    background:#a76714;
    border:1px solid #185e0a;
    color:black;
    text-decoration:none;
}


.contenedor{
    width:900px;
    margin:500px auto;
}

.formulario{
    background:#c7f5fa;
    border:10px solid #9ba8ad;
    border-radius:35px;
    padding-right:400px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}





button{
    width: 90px ;
    height: 45px ;
    font-size:12px;
    font-style: italic ;
    margin: 10px;
    padding: 30px 20px;
    border: 15px ;
    background-color: #2c6f99;
    color: aliceblue;
    padding-top: 20px;
}